/LIM/neural_networks/raw_data/
/LIM/neural_networks/trained_models/
/LIM/plots/
/LIM/testing/
/tutorials-jakob/
/LIM/neural_networks/wandb/
/LIM/neural_networks/final_plots_cluster
/LIM/neural_networks/final_plots
/LIM/neural_networks/final_models
